.btn_green_white_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #D2E885 !important;

				background: #a4d007;
			background: -webkit-linear-gradient( top, #a4d007 5%, #536904 95%);
	background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
	}

	.btn_green_white_innerfade > span {
		border-radius: 2px;
		display: block;


					background: #799905;
			background: -webkit-linear-gradient( top, #799905 5%, #536904 95%);
	background: linear-gradient( to bottom, #799905 5%, #536904 95%);
			}

.btn_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff !important;

				background: #b6d908;
			background: -webkit-linear-gradient( top, #b6d908 5%, #80a006 95%);
	background: linear-gradient( to bottom, #b6d908 5%, #80a006 95%);
	}

	.btn_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
					background: #a1bf07;
			background: -webkit-linear-gradient( top, #a1bf07 5%, #80a006 95%);
	background: linear-gradient( to bottom, #a1bf07 5%, #80a006 95%);
			}

.btn_blue_white_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #fff !important;

				background: #aaceff;
			background: -webkit-linear-gradient( top, #aaceff 5%, #3c6091 95%);
	background: linear-gradient( to bottom, #aaceff 5%, #3c6091 95%);
	}

	.btn_blue_white_innerfade > span {
		border-radius: 2px;
		display: block;


					background: #82a6d7;
			background: -webkit-linear-gradient( top, #82a6d7 5%, #3c6091 95%);
	background: linear-gradient( to bottom, #82a6d7 5%, #3c6091 95%);
			}

.btn_blue_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff !important;

				background: #bbd8ff;
			background: -webkit-linear-gradient( top, #bbd8ff 5%, #4873a7 95%);
	background: linear-gradient( to bottom, #bbd8ff 5%, #4873a7 95%);
	}

	.btn_blue_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
					background: #9ab7de;
			background: -webkit-linear-gradient( top, #9ab7de 5%, #4873a7 95%);
	background: linear-gradient( to bottom, #9ab7de 5%, #4873a7 95%);
			}

.btn_darkblue_white_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #A4D7F5 !important;

				background: rgba(47,137,188,1);
			background: -webkit-linear-gradient( top, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
	background: linear-gradient( to bottom, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
	}

	.btn_darkblue_white_innerfade > span {
		border-radius: 2px;
		display: block;


					background: rgba(33,101,138,1);
			background: -webkit-linear-gradient( top, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
	background: linear-gradient( to bottom, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
			}

.btn_darkblue_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ffffff !important;

				background: rgba(102,192,244,1);
			background: -webkit-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	}

	.btn_darkblue_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

	.btn_darkblue_white_innerfade.btn_active, btn_darkblue_white_innerfade.active {
	text-decoration: none !important;
	color: #323b49 !important;

		background: #fff !important;			}

	.btn_darkblue_white_innerfade.btn_active > span, btn_darkblue_white_innerfade.active > span {
					background: #989b9e;
			background: -webkit-linear-gradient( top, #989b9e 5%, #aeb1b5 95%);
	background: linear-gradient( to bottom, #989b9e 5%, #aeb1b5 95%);
			}

	.btn_darkred_white_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #F5D7A4 !important;

				background: rgba(188,47,47,1);
			background: -webkit-linear-gradient( top, rgba(188,47,47,1) 5%, rgba(92,37,23,1) 95%);
	background: linear-gradient( to bottom, rgba(188,47,47,1) 5%, rgba(92,37,23,1) 95%);
	}

	.btn_darkred_white_innerfade > span {
		border-radius: 2px;
		display: block;


					background: rgba(138,51,33,1);
			background: -webkit-linear-gradient( top, rgba(138,51,33,1) 5%, rgba(92,37,23,1) 95%);
	background: linear-gradient( to bottom, rgba(138,51,33,1) 5%, rgba(92,37,23,1) 95%);
			}

.btn_darkred_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ffffff !important;

				background: rgba(244,92,102,1);
			background: -webkit-linear-gradient( top, rgba(244,92,102,1) 5%, rgba(188,67,47,1) 95%);
	background: linear-gradient( to bottom, rgba(244,92,102,1) 5%, rgba(188,67,47,1) 95%);
	}

	.btn_darkred_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

	.btn_darkred_white_innerfade.btn_active, btn_darkred_white_innerfade.active {
	text-decoration: none !important;
	color: #493b32 !important;

		background: #fff !important;			}

	.btn_darkred_white_innerfade.btn_active > span, btn_darkred_white_innerfade.active > span {
					background: #9e9b98;
			background: -webkit-linear-gradient( top, #9e9b98 5%, #b5b1ae 95%);
	background: linear-gradient( to bottom, #9e9b98 5%, #b5b1ae 95%);
			}

	.btn_grey_white_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #fff !important;

				background: #acb5bd;
			background: -webkit-linear-gradient( top, #acb5bd 5%, #414a52 95%);
	background: linear-gradient( to bottom, #acb5bd 5%, #414a52 95%);
	}

	.btn_grey_white_innerfade > span {
		border-radius: 2px;
		display: block;


					background: #778088;
			background: -webkit-linear-gradient( top, #778088 5%, #414a52 95%);
	background: linear-gradient( to bottom, #778088 5%, #414a52 95%);
			}

.btn_grey_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff !important;

				background: #cfd8e0;
			background: -webkit-linear-gradient( top, #cfd8e0 5%, #565f67 95%);
	background: linear-gradient( to bottom, #cfd8e0 5%, #565f67 95%);
	}

	.btn_grey_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
					background: #99a2aa;
			background: -webkit-linear-gradient( top, #99a2aa 5%, #565f67 95%);
	background: linear-gradient( to bottom, #99a2aa 5%, #565f67 95%);
			}

.btn_grey_grey {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #ebebeb !important;

	background: rgba( 0, 0, 0, 0.4);	}

	.btn_grey_grey > span {
		border-radius: 2px;
		display: block;


		background: transparent;			}

.btn_grey_grey:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #000 !important;

	background: #7bb7e3;	}

	.btn_grey_grey:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

.btn_grey_grey_outer_bevel {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #ebebeb !important;

	background: #000;	}

	.btn_grey_grey_outer_bevel > span {
		border-radius: 2px;
		display: block;


					background: #2B2B2B;
			background: -webkit-linear-gradient( top, #2B2B2B 5%, #202020 95%);
	background: linear-gradient( to bottom, #2B2B2B 5%, #202020 95%);
			}

.btn_grey_grey_outer_bevel:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ebebeb !important;

				background: #57749e;
			background: -webkit-linear-gradient( top, #57749e 5%, #364963 95%);
	background: linear-gradient( to bottom, #57749e 5%, #364963 95%);
	}

	.btn_grey_grey_outer_bevel:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
					background: #445b7c;
			background: -webkit-linear-gradient( top, #445b7c 5%, #364963 95%);
	background: linear-gradient( to bottom, #445b7c 5%, #364963 95%);
			}


.btn_grey_grey_outer_bevel:not(:hover) > span {
	box-shadow: inset 0 1px 1px #434343;
}
.btn_grey_black {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #67c1f5 !important;

	background: rgba(0, 0, 0, 0.5 );	}

	.btn_grey_black > span {
		border-radius: 2px;
		display: block;


		background: transparent;			}

.btn_grey_black:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff !important;

	background: rgba( 102, 192, 244, 0.4 );	}

	.btn_grey_black:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

	.btn_grey_black.btn_active, btn_grey_black.active {
	text-decoration: none !important;
	color: #fff !important;

		background: rgba( 102, 192, 244, 0.2 );;			}

	.btn_grey_black.btn_active > span, btn_grey_black.active > span {
		background: transparent;			}

	.btn_black {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #ebebeb !important;

	background: #000;	}

	.btn_black > span {
		border-radius: 2px;
		display: block;


		background: transparent;			}

.btn_black:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #000 !important;

	background: #97C0E3;	}

	.btn_black:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

.btnv6_blue_hoverfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #67c1f5 !important;

	background: rgba( 103, 193, 245, 0.2 );	}

	.btnv6_blue_hoverfade > span {
		border-radius: 2px;
		display: block;


		background: transparent;			}

.btnv6_blue_hoverfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff !important;

				background: #417a9b;
			background: -webkit-linear-gradient( 150deg, #417a9b 5%,#67c1f5 95%);
	background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
	}

	.btnv6_blue_hoverfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

	.btnv6_blue_hoverfade.btn_active, btnv6_blue_hoverfade.active {
	text-decoration: none !important;
	color: #fff !important;

		background: rgba( 103, 193, 245, 0.6 );;			}

	.btnv6_blue_hoverfade.btn_active > span, btnv6_blue_hoverfade.active > span {
		background: transparent;			}

	.btnv6_lightblue_blue {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #2B5066 !important;

				background: rgba(193,228,249,1);
			background: -webkit-linear-gradient( top, rgba(193,228,249,1) 5%, rgba(148,183,202,1) 95%);
	background: linear-gradient( to bottom, rgba(193,228,249,1) 5%, rgba(148,183,202,1) 95%);
	}

	.btnv6_lightblue_blue > span {
		border-radius: 2px;
		display: block;


		background: transparent;		text-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.1 );	}

.btnv6_lightblue_blue:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ffffff !important;

				background: rgba(102,192,244,1);
			background: -webkit-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	}

	.btnv6_lightblue_blue:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

.btnv6_blue_blue_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #A4D7F5 !important;

				background: rgba(47,137,188,1);
			background: -webkit-linear-gradient( top, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
	background: linear-gradient( to bottom, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
	}

	.btnv6_blue_blue_innerfade > span {
		border-radius: 2px;
		display: block;


		background: transparent;		text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.1 );	}

.btnv6_blue_blue_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ffffff !important;

				background: rgba(102,192,244,1);
			background: -webkit-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	}

	.btnv6_blue_blue_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

.btnv6_green_white_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #D2E885 !important;

				background: rgba(121,153,5,1);
			background: -webkit-linear-gradient( top, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
	background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
	}

	.btnv6_green_white_innerfade > span {
		border-radius: 2px;
		display: block;


		background: transparent;		text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.1 );	}

.btnv6_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ffffff !important;

				background: rgba(164,208,7,1);
			background: -webkit-linear-gradient( top, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
	background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
	}

	.btnv6_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

.btnv6_grey_black {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #66c0f4 !important;

	background: #212c3d;	}

	.btnv6_grey_black > span {
		border-radius: 2px;
		display: block;


		background: transparent;			}

.btnv6_grey_black:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff !important;

	background: #66c0f4;	}

	.btnv6_grey_black:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

	.btnv6_grey_black.btn_active, btnv6_grey_black.active {
	text-decoration: none !important;
	color: #fff !important;

		background: rgba( 103, 193, 245, 0.4 );;			}

	.btnv6_grey_black.btn_active > span, btnv6_grey_black.active > span {
		background: transparent;			}

	.btnv6_white_transparent {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #fff !important;

	background: transparent;	}

	.btnv6_white_transparent > span {
		border-radius: 2px;
		display: block;


		background: transparent;		border: 1px solid rgba(255,255,255,0.4);
border-radius: 2px;	}

.btnv6_white_transparent:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff !important;

	background: transparent;	}

	.btnv6_white_transparent:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;		border: 1px solid rgba(255,255,255,1);
border-radius: 2px;	}

.btn_teal {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #A4D7F5 !important;

				background: rgba(62,133,154,1);
			background: -webkit-linear-gradient( top, rgba(62,133,154,1) 5%, rgba(30,73,85,1) 95%);
	background: linear-gradient( to bottom, rgba(62,133,154,1) 5%, rgba(30,73,85,1) 95%);
	}

	.btn_teal > span {
		border-radius: 2px;
		display: block;


					background: rgba(33,101,138,1);
			background: -webkit-linear-gradient( top, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
	background: linear-gradient( to bottom, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
			}

.btn_teal:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ffffff !important;

				background: rgba(92,163,184,1);
			background: -webkit-linear-gradient( top, rgba(92,163,184,1) 5%, rgba(60,103,115,1) 95%);
	background: linear-gradient( to bottom, rgba(92,163,184,1) 5%, rgba(60,103,115,1) 95%);
	}

	.btn_teal:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

	.btn_teal.btn_active, btn_teal.active {
	text-decoration: none !important;
	color: #323b49 !important;

		background: #fff !important;			}

	.btn_teal.btn_active > span, btn_teal.active > span {
					background: rgba(72,143,164,1);
			background: -webkit-linear-gradient( top, rgba(72,143,164,1) 5%, rgba(40,83,95,1) 95%);
	background: linear-gradient( to bottom, rgba(72,143,164,1) 5%, rgba(40,83,95,1) 95%);
			}

	.btn_royal_blue {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #A4D7F5 !important;

				background: rgba(79,78,181,1);
			background: -webkit-linear-gradient( top, rgba(79,78,181,1) 5%, rgba(49,48,151,1) 95%);
	background: linear-gradient( to bottom, rgba(79,78,181,1) 5%, rgba(49,48,151,1) 95%);
	}

	.btn_royal_blue > span {
		border-radius: 2px;
		display: block;


					background: rgba(33,101,138,1);
			background: -webkit-linear-gradient( top, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
	background: linear-gradient( to bottom, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
			}

.btn_royal_blue:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ffffff !important;

				background: rgba(109,108,211,1);
			background: -webkit-linear-gradient( top, rgba(109,108,211,1) 5%, rgba(79,78,181,1) 95%);
	background: linear-gradient( to bottom, rgba(109,108,211,1) 5%, rgba(79,78,181,1) 95%);
	}

	.btn_royal_blue:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

	.btn_royal_blue.btn_active, btn_royal_blue.active {
	text-decoration: none !important;
	color: #323b49 !important;

		background: #fff !important;			}

	.btn_royal_blue.btn_active > span, btn_royal_blue.active > span {
					background: rgba(72,143,164,1);
			background: -webkit-linear-gradient( top, rgba(72,143,164,1) 5%, rgba(40,83,95,1) 95%);
	background: linear-gradient( to bottom, rgba(72,143,164,1) 5%, rgba(40,83,95,1) 95%);
			}

	.btn_plum {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #A4D7F5 !important;

				background: rgba(111,35,74,1);
			background: -webkit-linear-gradient( top, rgba(111,35,74,1) 5%, rgba(81,5,44,1) 95%);
	background: linear-gradient( to bottom, rgba(111,35,74,1) 5%, rgba(81,5,44,1) 95%);
	}

	.btn_plum > span {
		border-radius: 2px;
		display: block;


					background: rgba(33,101,138,1);
			background: -webkit-linear-gradient( top, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
	background: linear-gradient( to bottom, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
			}

.btn_plum:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #ffffff !important;

				background: rgba(151,75,114,1);
			background: -webkit-linear-gradient( top, rgba(151,75,114,1) 5%, rgba(121,45,84,1) 95%);
	background: linear-gradient( to bottom, rgba(151,75,114,1) 5%, rgba(121,45,84,1) 95%);
	}

	.btn_plum:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
		background: transparent;			}

	.btn_plum.btn_active, btn_plum.active {
	text-decoration: none !important;
	color: #323b49 !important;

		background: #fff !important;			}

	.btn_plum.btn_active > span, btn_plum.active > span {
					background: rgba(72,143,164,1);
			background: -webkit-linear-gradient( top, rgba(72,143,164,1) 5%, rgba(40,83,95,1) 95%);
	background: linear-gradient( to bottom, rgba(72,143,164,1) 5%, rgba(40,83,95,1) 95%);
			}

	.btn_green_steamui {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #dfe3e6; !important;

	background: transparent;	}

	.btn_green_steamui > span {
		border-radius: 2px;
		display: block;


					background: #75b022;
			background: -webkit-linear-gradient( top, #75b022 5%, #588a1b 95%);
	background: linear-gradient( to bottom, #75b022 5%, #588a1b 95%);
		background: linear-gradient( to right, #75b022 5%, #588a1b 95%);	}

.btn_green_steamui:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff; !important;

	background: transparent;	}

	.btn_green_steamui:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
					background: #8ed629;
			background: -webkit-linear-gradient( top, #8ed629 5%, #6aa621 95%);
	background: linear-gradient( to bottom, #8ed629 5%, #6aa621 95%);
		background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);	}

	.btn_green_steamui.btn_active, btn_green_steamui.active {
	text-decoration: none !important;
	color: #fff; !important;

		background: transparent;			}

	.btn_green_steamui.btn_active > span, btn_green_steamui.active > span {
					background: #8ed629;
			background: -webkit-linear-gradient( top, #8ed629 5%, #6aa621 95%);
	background: linear-gradient( to bottom, #8ed629 5%, #6aa621 95%);
		background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);	}

	.btn_grey_steamui {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #dfe3e6; !important;

	background: transparent;	}

	.btn_grey_steamui > span {
		border-radius: 2px;
		display: block;


					background: #75b022;
			background: -webkit-linear-gradient( top, #75b022 5%, #588a1b 95%);
	background: linear-gradient( to bottom, #75b022 5%, #588a1b 95%);
		background: linear-gradient( to right, #32363f 5%, #32363f 95%); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); transition: all 0.2s ease-out;	}

.btn_grey_steamui:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff; !important;

	background: transparent;	}

	.btn_grey_steamui:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
					background: #8ed629;
			background: -webkit-linear-gradient( top, #8ed629 5%, #6aa621 95%);
	background: linear-gradient( to bottom, #8ed629 5%, #6aa621 95%);
		background: linear-gradient( to right, #464d58 5%, #464d58 95%); box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);	}

.btn_blue_steamui {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #dfe3e6; !important;

	background: transparent;	}

	.btn_blue_steamui > span {
		border-radius: 2px;
		display: block;


					background: #75b022;
			background: -webkit-linear-gradient( top, #75b022 5%, #588a1b 95%);
	background: linear-gradient( to bottom, #75b022 5%, #588a1b 95%);
		background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); background-position: 25%; background-size: 330% 100%;	}

.btn_blue_steamui:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	text-decoration: none !important;
	color: #fff; !important;

	background: transparent;	}

	.btn_blue_steamui:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
					background: #8ed629;
			background: -webkit-linear-gradient( top, #8ed629 5%, #6aa621 95%);
	background: linear-gradient( to bottom, #8ed629 5%, #6aa621 95%);
		background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%); box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5); background-position: 0%; background-size: 330% 100%;	}


/* This class must be applied to anything you want to use buttons in to enable hover states. */
.btn_hover {}

.inner_bevel {
	-moz-box-shadow:	2px 2px 5px rgba(0,0,0,0.75) inset, -2px -2px 5px rgba(150,150,150,1) inset;
	-webkit-box-shadow:	2px 2px 5px rgba(0,0,0,0.75) inset, -2px -2px 5px rgba(150,150,150,1) inset;
	box-shadow: 		2px 2px 5px rgba(0,0,0,0.75) inset, -2px -2px 5px rgba(150,150,150,1) inset;
}

/* fix for mozilla <button> elements */
button::-moz-focus-inner
{
	padding: 0;
	border: none;
}

/* Borders */
.btn_border_2px {
	border-radius: 4px;
	border: 2px solid #172030;
}

.btn_border_2px > span {
	border-radius: 3px;
}

.btnv6_border_2px {
	border-radius: 4px;
	border: 2px solid #17202f;
}

.btnv6_border_2px > span {
	border-radius: 3px;
}

/* Sizing */
.btn_large > span, input.btn_large {
	padding: 0 15px;
	font-size: 16px;
	line-height: 40px;
}

.btn_medium_tall > span, input.btn_medium_tall {
	padding: 0 15px;
	font-size: 15px;
	line-height: 36px;
}

.btn_medium > span, input.btn_medium {
	padding: 0 15px;
	font-size: 15px;
	line-height: 30px;
}

.btn_medium .ico16 {
	margin: 7px 0;
	vertical-align: top;
}

.btn_medium_thin > span, input.btn_medium_thin {
	padding: 0 5px;
	font-size: 15px;
	line-height: 30px;
}

.btn_medium_wide > span, input.btn_medium_wide {
	padding: 0 24px;
	font-size: 15px;
	line-height: 30px;
}

.btn_small > span, input.btn_small {
	padding: 0 15px;
	font-size: 12px;
	line-height: 20px;
}

.btn_small_thin > span, input.btn_small_thin {
	padding: 0 5px;
	font-size: 12px;
	line-height: 20px;
}

.btn_small_tall > span, input.btn_small_tall {
    padding: 0 15px;
    font-size: 12px;
    line-height: 24px;
}

.btn_small_wide > span, input.btn_small_wide {
	padding: 0 24px;
	font-size: 12px;
	line-height: 20px;
}
.btn_tiny > span, input.btn_tiny {
	padding: 0 7px;
	font-size: 11px;
	line-height: 17px;
}

/* Misc effects */
.btn_uppercase > span {
	text-transform: uppercase;
}

/* Icons */

/* 18x18 */
.ico18{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 0px;
	background: url(https://steamstore-a.akamaihd.net/public/shared/images/buttons/icons_18.png?v=3);
	vertical-align: text-top;
}


	.ico18.thumb_down {
		background-position: -18px 0px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico18.thumb_down {
			background-position: -90px 0px;		}
	
			.btn_active .ico18.thumb_down, .active .ico18.thumb_down {
			background-position: -54px 0px;		}
		
	.ico18.thumb_up {
		background-position: 0px 0px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico18.thumb_up {
			background-position: -72px 0px;		}
	
			.btn_active .ico18.thumb_up, .active .ico18.thumb_up {
			background-position: -36px 0px;		}
		
	.ico18.accepted_and_voted {
		background-position: 0px -18px;	}

	
		
/* 16x16 */
.ico16{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(https://steamstore-a.akamaihd.net/public/shared/images/buttons/icons_16.png?v=5);
	vertical-align: text-top;
}


	.ico16.comment {
		background-position: 0px 0px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.comment {
			background-position: -16px 0px;		}
	
		
	.ico16.thumb_down {
		background-position: -32px 0px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.thumb_down {
			background-position: -48px 0px;		}
	
			.btn_active .ico16.thumb_down, .active .ico16.thumb_down {
			background-position: -64px 0px;		}
		
	.ico16.thumb_up {
		background-position: -80px 0px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.thumb_up {
			background-position: -112px 0px;		}
	
			.btn_active .ico16.thumb_up, .active .ico16.thumb_up {
			background-position: -96px 0px;		}
		
	.ico16.thumb_downv6 {
		background-position: -64px -16px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.thumb_downv6 {
			background-position: -80px -16px;		}
	
			.btn_active .ico16.thumb_downv6, .active .ico16.thumb_downv6 {
			background-position: -96px -16px;		}
		
	.ico16.thumb_upv6 {
		background-position: -112px -16px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.thumb_upv6 {
			background-position: -144px -16px;		}
	
			.btn_active .ico16.thumb_upv6, .active .ico16.thumb_upv6 {
			background-position: -128px -16px;		}
		
	.ico16.arrow_down {
		background-position: -48px -16px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.arrow_down {
			background-position: -32px -16px;		}
	
		
	.ico16.report {
		background-position: -128px 0px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.report {
			background-position: -144px 0px;		}
	
			.btn_active .ico16.report, .active .ico16.report {
			background-position: -160px 0px;		}
		
	.ico16.reportv6 {
		background-position: -256px 0px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.reportv6 {
			background-position: -272px 0px;		}
	
			.btn_active .ico16.reportv6, .active .ico16.reportv6 {
			background-position: -288px 0px;		}
		
	.ico16.arrow_next {
		background-position: -176px 0px;	}

	
		
	.ico16.checkbox {
		background-position: -192px 0px;	}

	
		
	.ico16.bucketnew {
		background-position: -208px 0px;	}

	
		
	.ico16.bucketqueue {
		background-position: -224px 0px;	}

	
		
	.ico16.bucketrefresh {
		background-position: -240px 0px;	}

	
		
	.ico16.bucketfollow {
		background-position: -176px -16px;	}

	
		
	.ico16.bucketfavorite {
		background-position: -192px -16px;	}

	
		
	.ico16.funny {
		background-position: -208px -16px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.funny {
			background-position: -224px -16px;		}
	
			.btn_active .ico16.funny, .active .ico16.funny {
			background-position: -224px -16px;		}
		
	.ico16.bluearrow_down {
		background-position: -304px 0px;	}

			.ico_hover:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .ico16.bluearrow_down {
			background-position: -304px -16px;		}
	
			.btn_active .ico16.bluearrow_down, .active .ico16.bluearrow_down {
			background-position: -304px -16px;		}
		
/* Arrows are the only icons I've not fully replaced yet. If you need to use them, please convert to the new icon code */

.btn_details_arrow
{
	display: inline-block;
	width: 15px;
	height: 16px;
	background-image:url('https://steamstore-a.akamaihd.net/public/shared/images/buttons/icon_double_arrows.png');
	vertical-align: middle;
}

.btn_details_arrow.up
{
	background-position: 0px 0px;
}

.btn_details:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .btn_details_arrow.up
{
	background-position: -15px 0px;
}

.btn_details_arrow.down
{
	background-position: 15px 0px;
}

.btn_details:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover .btn_details_arrow.down
{
	background-position: 30px 0px;
}

.btn_disabled, button:disabled {
	opacity: 0.45;
	cursor: default;
}

.btn_disabled:hover, button:disabled:hover {
	text-decoration: none;
}

.packageTagsArrow
{
     display: inline-block;
     width: 15px;
     height: 16px;
     background-image:url('https://steamstore-a.akamaihd.net/public/shared/images/buttons/icon_double_arrows.png');
}

.packageTagsArrow.Expand
{
     background-position: 18px 1px;
}

.packageTagsArrow.Collapse
{
     background-position: 3px 1px;
}
