/* CSS Document */

body.v6 {
		font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.tooltip_q_ctn {
    background: rgba(255,255,255,0.4);
    color: white;
    border-radius: 10px;
    font-size: 11px;
    padding: 1px 4px 1px 6px;
    cursor: default;
}
.tooltip_q_ctn:hover {
    background: rgba(255,255,255,0.5);
}

body.v6.checkout .page_header_ctn {
	padding-bottom: 47px;
	margin-bottom: -50px;
}

body.v6.cart_page h4 {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-weight: normal;
	color: #c7d5e0;
}

body.v6.login .rightcol h2 {
	margin-top: 0px;
}
body.v6.login .rightcol .spotlight_block {
	margin-bottom: 25px;
}

#checkout_review_cart_area {
	margin-top: 56px;
}

#payment_info_tab .checkout_content .payment_info_form_area {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
}



#shipping_info_tab #shipping_info_entry {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
}

.shipping_info_address_title {
	padding-top: 8px;
	font-size: 13px;
}

.shipping_info_address_display_row {
	background: rgba( 0, 0, 0, 0.2 );
	margin-top: 4px;
	margin-bottom: 4px;
}

.shipping_info_address_display {
	padding: 8px;
	font-size: 13px;
}

.checkout_content_box
{
	position: relative;
}

body.v6 .checkout_content_box h2
{
	color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.checkout_content_box h3.tab_header
{
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
		: 17px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 30px;
	margin-bottom: 8px;
}

.checkout_content_box a
{
	color: #FFFFFF;
	text-decoration: underline;
}

.checkout_content_box a:hover
{
	color: #67c1f5;
}

.checkout_content_box .package_contents a {
	color: #7092a5;
}

.checkout_content_box input[type="text"],
.checkout_content_box input[type="password"],
.checkout_content_box select,
.checkout_content_box textarea,
.checkout_main .dselect_container a.trigger
{
	background-color: rgba( 0, 0, 0, 0.4);
	color: #fff;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 1px 1px 0px #45556c;
	width: 98%;
	max-width: calc( 100% - 12px );
	padding: 5px;
	margin-top: 3px;

	font-size: 16px;
	line-height: 21px;
}

.checkout_main .dselect_container a.trigger.activetrigger
{
	color: #ffffff;
	background: #67c1f5;
}

img.payment_method_logo {
	display: block;
	float: left;
}

.checkout_content_box.method {
	background: rgba( 0, 0, 0, 0.4 );
	margin-bottom: 20px;
	margin-top: 55px;
}
.checkout_content_box.checkout_main.txn {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 8px;
}

.checkout_total {
	background: -moz-linear-gradient(-60deg,  rgba(97,100,101,0.3) 0%, rgba(226,244,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(97,100,101,0.3)), color-stop(100%,rgba(226,244,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-60deg,  rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-60deg,  rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-60deg,  rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d616465', endColorstr='#4de2f4ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 16px;
}

.checkout_content .rule {
	border-top: 1px solid #194660;
}

.checkout_divider {
	padding: 20px;
}


.checkout_error {
	background: linear-gradient(90deg, #E4A01A 5.43%, #7E4400 100%);
	color: #ffffff;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			margin: 15px 0px 15px 0px;
	padding: 11px 15px 11px 19px;
}

.checkout_form_error {
	margin-top: 56px;
	font-size: 13px;
}

#cancel_pending_verification {
	margin-bottom: 60px;
}

.purchase_pending_area {
	display: -webkit-box; /* Very Old webkit */
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Old webkit */
	display:flex;	
}

.pending_purchase_summary_retry_note {
	color: #67c1f5;
}

.purchase_summary_area_pending_text {
	padding-left: 20px;
}

.checkout_pending_purchase_subtitle {
	font-size: 13px;
	color: #ff9900;
}

.checkout_payment_method_specific_note {
	font-size: 11px;
	color: #ff9900;
}

.checkout_content_box a.btn_checkout_green, .checkout_content_box a.btn_checkout_blue {
	text-decoration: none;
	color: #ffffff;
}

.checkout_install_area.mtxn
{
	padding: 10px 15px;
	margin-bottom: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	background: -webkit-linear-gradient( top, rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%);
	background: linear-gradient( to bottom, rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%);


	box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75);
}
.checkout_install_area.mtxn #install_button {
	margin-bottom: 10px;
}

.btn_checkout_working {
	width: 121px;
	height: 28px;
	background-image: url(/public/images/v5/btn_checkout_working.gif);

	color: #626466;
	font-size: 11px;
	text-transform: uppercase;

	text-align: center;
	line-height: 28px;

	cursor: default;
}

.button_row {
	display: block;
}

.button_row .btn_medium {
	margin-left: 12px;
}

.button_row .continue, .button_row .working, .cart_checkout_buttons .continue {
	float: right;	
	margin-right: 16px;
}
.button_row #payment_method_previous_button {
	float: left;
}

.button_row .btn_checkout_green, .button_row .btn_checkout_working {
	float: right;
	margin-left: 20px;
}

.button_row .btn_checkout_green.btn_checkout_green_client_style {
	float: none;
	display: inline-block;
	margin-left: 16px;
}

/* match 121px width of btn_checkout_working */
.button_row .btn_checkout_green {
	min-width: 87px;
}

.client_button_row {
	text-align: right;
}

.client_button_row.button_row {
	margin-top: 20px;
}
.redeem_wallet_code_form .button_row .btn_medium {
	right: 14px;
	position: absolute;
	margin-top: 4px;
}

a.webmoney_prompt_link {
	text-decoration: none;
}

a.webmoney_prompt_link:hover .webmoney_prompt_ctn {
  text-decoration: none !important;
  color: #ffffff !important;
  background: #67c1f5 !important;
  background: -webkit-linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
  background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
}

.webmoney_prompt_ctn {
	width: 100%;
	background: rgba(255,255,255,0.1);
	border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0 0 1px #000;
	display: flex;
	position: relative;
	margin-top: 10px;
	margin-bottom: 50px;
}

.webmoney_prompt_ctn .img_ctn {
	display: inline-block;
	margin-right: 6px;
	background: #fff;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}
.webmoney_prompt_ctn .desc {
	display: inline-block;
	padding: 8px;
}

/* fixes a layout bug in IE7 when .btn_client is mixed with position:relative btn_checkout_green */
.client_button_row .btn_client {
	position: relative;
}

.checkout_rule {
	border-top: 1px solid #3c3d3e;
	margin: 9px 0px;
}

.checkout_content_box h2.checkout_pending_purchase_title 
{
	color: #ff9900;
}

.checkout_content_box .checkout_content.cart, .checkout_content_box .checkout_content.confirm 
{
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
	margin-top: 4px;
}

.checkout_content_box .checkout_content.cart 
{
	padding: 0px;
}

.continue_shopping_ctn {

}



.checkout_pending_purchase_payment_method_notes {
	padding-top: 20px;
}

.checkout_gift_region_warning {
	margin-top: 30px !important;
}

.checkout_gift_region_warning_link {
	display: block;
	margin-top: 10px;
}

#col_right_gift_recipient {
	margin-top: 0px;
}

.checkout_notes {
	color: #7092a5;
	line-height: 20px;
	padding-right: 16px;
}

.checkout_notes b {
	font-weight: normal;
	/* color: #ff9900; */
}

.cart_notice_section {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #1B2838;
}

.checkout_footer_notes {
	color: #8F98A0;
	line-height: 20px;
}

.cart_digital_notice {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
	min-height: 57px;
	margin-bottom: 20px;
}
body.v6 .cart_digital_notice_ctn h2,
body.v6 .cart_rightcol h2 {
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 10px;
	font-size: 17px;
	letter-spacing: 2px;
	font-weight: normal;
}

body.v6 .cart_digital_notice_ctn h2
{
	padding-left: 15px;
}



.cart_digital_notice_content {
	padding-left: 84px;
	padding-top: 8px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}
.cart_digital_notice_content .fr_delivery_notice p {
	margin-top: 6px;
}


.cart_digital_notice_steam_logo {
	float: left;
}

.cart_digital_notice h4 {
	font-size: 16px;
	font-weight: normal;
}

.cart_no_clientconn_icon {
	float: left;
	vertical-align: middle;
	padding-bottom: 8px;
}

.cart_no_clientconn_block {
	vertical-align: middle;
	margin: 8px;
	margin-left: 90px;
	white-space: normal;
	text-decoration: none;
	padding-bottom: 12px;
}

.cart_clientconn_icon {
	float: left;
	vertical-align: middle;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
}

.cart_clientconn_block {
	vertical-align: middle;
	margin: 5px;
	white-space: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
	color:  white;
}

.cart_pricechanged_tag {
	color: white;
	font-weight: bold;
	font-size: 13px;
	vertical-align: middle;
}

.cart_total_row#cart_estimated_total_text sup {
	font-weight: 400;
	font-size: 11px;
}

/* review */



.checkout_review_payment_method_area
{
}

.payment_method_review_row
{
	position: relative;
	overflow: hidden;
}

.payment_method_total
{
	position: absolute;
	right: 165px;
	top: 0px;
}

.payment_method_review_method_label
{
	color: #8BC53F;
}


.checkout_review_cart_item {
	margin: 3px 0;
	position: relative;
	min-height: 77px;
	line-height: 16px;
	background: rgba(0,0,0,0.2);
	padding: 0 2.5%;
}


.cart_total_row_promotion
{
	color: #f8bc5e !important;
}

.cart_total_row_promotion .price
{
	color: #f8bc5e !important;
}

.checkout_review_item_img {
	float: left;
	padding-top: 16px;
	width: 120px;
}

.checkout_review_item_img img {
	width: 100%;
}

.checkout_review_item_desc {
	overflow: hidden;
	padding: 23px 3% 0 3%;
	color: #c6d4df;
	font-size: 13px;
}

.checkout_review_item_desc .checkout_review_item_platform {
	float: right;
}

.checkout_review_item_desc_ext {
	color: #626366;
}

.checkout_review_item_desc_ext b, .review_notice b, .review_notice {
	color: #ffcc6a;
	font-weight: normal;
}


.checkout_review_hit_min_provider_amount {
	color: #c6d4df;
}

.checkout_review_hit_min_provider_amount_div {
	position: absolute;
	left: 278px;
	top: 0px;
}

.duplicate_app_list {
	list-style-position: inside;
	list-style-type: square;
	margin-top: 4px;
	margin-left: 8px;
}

.checkout_review_item_price {
	float: right;
	padding-top: 23px;
	text-align: right;
}

.checkout_review_item_price .price {
	color: #c6d4df;
	font-size: 13px;
}

.checkout_review_item_price .quantity {
	color: #8F98A0;
	font-size: 11px;
}

.checkout_review_prepurchase_notice {
}

.checkout_review_tax_notice {
	margin-top: 10px;
}

.checkout_review_item_restriction_notice {
	padding-top:4px;
	padding-bottom:4px;
}

.review_row {
	position: relative;
	margin-bottom: 12px;
	line-height: 14px;
}

.review_row .review_row_label {
	position: absolute;
	left: 0px;
	color: #7092a5;
	font-size: 13px;
	line-height: 15px;
}

.review_row .review_row_value {
	padding-left: 135px;
	color: #C6D4DF;
	min-height: 15px;
	font-size: 13px;
	line-height: 17px;		
}


#purchase_bottom_note_paypalgc {
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 10px;
	background: rgba( 0, 0, 0, 0.2 );
}

.review_usercontainer {
	border-radius: 3px;
	padding: 8px;
}
.review_useravatar {
	padding: 3px;
	border-radius:3px;
	margin-right: 12px;
	background-color: #7bafd6;
	background: -moz-linear-gradient(top, #7bafd6 5%, #506d92 95%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#7bafd6), color-stop(95%,#506d92));
	background: -webkit-linear-gradient(top, #7bafd6 5%,#506d92 95%);
	background: -o-linear-gradient(top, #7bafd6 5%,#506d92 95%);
	background: -ms-linear-gradient(top, #7bafd6 5%,#506d92 95%);
	background: linear-gradient(to bottom, #7bafd6 5%,#506d92 95%);
}
.review_username {
	color: #86b5d9;
	font-size: 13px;
	margin-top: 3px;
}

.review_payment_method_label {
	color: #ffffff;
}

.review_steam_account_name {
	color: #ffffff;
}

.dailydeal_ctn {
	margin-bottom: 30px;
	padding: 0px;
	height: 190px;
	box-shadow: 0 0 5px #000;
	background: -moz-linear-gradient(top, #758996  75%, #30588b 95%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,#758996 ), color-stop(95%,#30588b));
	background: -webkit-linear-gradient(top, #758996  75%,#30588b 95%);
	background: -o-linear-gradient(top, #758996  75%,#30588b 95%);
	background: -ms-linear-gradient(top, #758996  75%,#30588b 95%);
	background: linear-gradient(to bottom, #758996  75%,#30588b 95%);
}

.dailydeal_ctn .dailydeal_cap,
.dailydeal_ctn .dailydeal_cap img {
	width: 308px;
	height: auto;
}
.dailydeal_ctn .daily_deal_discount {
	margin-left: 6px;
}
.dailydeal_ctn .dailydeal_desc {
	color: #283846;
	margin-right: 6px;
}
.dailydeal_ctn .dailydeal_countdown {
	color: #c4e4f2;
	background-color: #4f95bd;
}

.dailydeal_ctn .dailydeal_desc {
	color: #c6d4df;
}

/* global checkout */

#checkout_header {
}

#checkout_header .content {
	position: relative;
	max-width: 600px;
	min-height: 104px;
	margin: 0 auto;
	padding: 0 2%;
}

#checkout_pipeline, #receipt_pipeline {
	padding-top: 33px;
	padding-bottom: 12px;
}

.cart_tab,
.cart_tab_spacer {
	display: inline-block;
	vertical-align: middle;
	color: #c6d4df;
	font-size: 13px;
	cursor: default;
	position: relative;
}

.cart_tab_left_on {
	position: absolute;
	background-image: url( /public/images/v6/cart/checkout_pipeline_undershadow.png );
	height: 9px;
	top: 30px;
	left: 1px;
	right: 1px;

	background-position: top center;
}

.cart_tab_right_on {
	position: absolute;
	width: 1px;
	height: 28px;

	top: 0px;
	right: 0px;

	background-image: url( /public/images/v5/checkout_pipeline_rightshadow.png );
}

.cart_tab_on, .cart_tab_off, .cart_tab_inactive {
	padding: 7px 11px;
	margin-right: 1px;
}

.cart_tab_on {
	background-color: #66c0f4;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.3 );
}

.cart_tab_inactive {
	cursor: pointer;
}

.cart_tab_off {
	color: #56707f;
}

.cart_tab_spacer {
	width: 4px;
	height: 8px;
	background-image: url( /public/images/v5/checkout_tab_spacer.gif );
	background-repeat: no-repeat;
	margin: 10px 10px;
}

#checkout_steam_logo {
	float: right;
	right: 0;
	padding-top: 30px;
	width: 176px;
	height: 44px;
}

#checkout_steam_logo img {
	width: 100%;
}


/* checkout styles */

.checkout_main input[type="text"],
.checkout_main input[type="password"],
.checkout_main select {
	width: 210px;
	padding: 5px;
}

.rightcol p {
	margin: 5px 0;
	font-size: 13px;
}

/* shopping cart page */

.cart_status_message_area {
	position: relative;
	height: 30px;
}

.cart_status_message_ctn {
	position: relative;
	height: 29px;
	float: left;
	margin-bottom: 1px;
	z-index: 99;
}

.cart_status_message_left, .cart_status_message_right {
	position: absolute;
	height: 29px;
	width: 2px;
	top: 0px;
}

.cart_status_message_left {
	left: 0px;
	background-position: left;
}

.cart_status_message_right {
	right: 0px;
	background-position: right;
}

.cart_status_message {
	color: #ffffff;
	font-weight: bold;
	line-height: 29px;
	background-color: #758e9d;
	margin: 0px 2px;
	padding: 0px 14px;
}

.cart_status_message_arrow_holder {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 9px;
	bottom: -9px;
	z-index: 100;
}

.cart_status_message_arrow {
	background-image: url( /public/images/v5/cart_statusmessage_arrow_light.png );
	height: 9px;
	width: 18px;
	margin: 0px auto;
}

.cart_error_details {
	border: 1px solid #ff9900;
	background-color: #000000;
	color: #cdcac1;
	margin: 15px;
	padding: 11px 15px 11px 19px;
}

.cart_row {
	background-color: rgba(0,0,0,0.2);
	margin: 0px 0px 3px 0px;
	position: relative;
}

.cart_row .ds_incart_flag {
	display: none;
}

.cart_currency_select {
	position: absolute;
	right: 0;
	top: 0;
}

.cart_currency_select .dselect_container {
	display: inline-block;
	vertical-align: middle;
}

.cart_row.activeborder {
	border: 1px solid #84ba3c;
	border-bottom: none;
}

.cart_item {
	position: relative;
	min-height: 77px;
	line-height: 16px;
	padding: 0 2.5%;
	font-size: 13px;
}
.cart_item .package_contents {
	padding-left: 12px;
}
.cart_item_list .package_contents {
	padding: 16px;
	margin-top: -10px;
	font-size: 13px;
	color: #a4d7f5;
}
.checkout_review_cart_item .package_contents {
	font-size: 13px;
	color: #a4d7f5;
	padding-bottom: 16px;
}

.cart_item_img {
	float: left;
	margin-top: 16px;
	width: 120px;
	height: 45px;
	background: rgba( 0, 0, 0, 0.5 );
	text-align: center;
}

.cart_item_img img {
	width: auto;
	height: 45px;
	background-color: #000000;
}

.cart_item_img.mtx {
	width: auto;
}

.cart_item_desc {
	color: #626366;
	overflow: hidden;
	padding: 23px 3% 0 3%;
}

.cart_item_desc_ext {
	color: #ffcc6a;
}

.cart_bodycopy_highlight {
	color: #c7d5e0;
    padding-right: 10px;
    font-size: 13px;
    float: left;
    text-align: right;
}

.cart_bodycopy_highlight_desc {
	overflow: hidden;
	font-size: 13px;
}

.cart_duplicate_warning_dialog {
	max-width: 500px;
}

.cart_duplicate_warning_dialog p {
	margin-bottom: 12px;
}

.cart_notice_dupes.no_extras {
	color: #b44b50;
}

.cart_notice_dupes {
	margin: 12px 0;
}

.cart_notice_dupes ul {
	list-style-type: none;
	color: #c7d5e0;
}

.cart_item_desc .cart_item_platform {
	float: right;
}

.cart_item .cart_item_desc a {
	color: #c7d5e0;
	text-decoration: none;
}

.cart_item_price {
	float: right;
	padding-top: 20px;
	text-align: right;
}

.cart_item_price.with_discount {
	padding-top: 15px;
}

.cart_item_price .price {
	color: #c7d5e0;
	font-size: 13px;
}

.cart_item_price .price.original_price {
	text-decoration: line-through;
	color: #56707f;
	font-size: 11px;
}

.cart_item_price .remove_link, .remove_link {
	color: #56707f;
	text-decoration: underline;
	font-size: 11px;
}

.cart_item_qty {
	position: relative;
	display: inline-block;

	float: right;
	padding-top: 20px;
	padding-left: 10px;
	text-align: right;
}

.cart_item_qty .quantity
{
	font-size: 13px;
	width: 45px;
	background-color: rgba(0,0,0,0.2);
	border-color: #000000;
	border: none;
	color: #b0aeac;
}

.cart_item_qty .btn_quantity_update
{
	font-size: 11px;
	width: 45px;
	background-color: #3c3d3e;
	border-color: #000000;
	border: none;
	border-radius: 2px;
	color: #D2E885;
	cursor: pointer;
	background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
	padding: 1px;
	display: none;

	position: absolute;
	bottom: -20px;
	right: 0px;
}

div.game_hover {
	padding: 6px 0px 0 25px;
}

.game_hover .hover_arrow_left {
	left: 18px;
}

/* sale */
.cart_item_cart_discount
{
    display: flex;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    height: 46px;
    line-height: 16px;
}

.cart_item_cart_discount.with_rows
{
	flex-direction: column;
	min-height: 46px;
	height: auto;
}

.cart_item_cart_discount .cart_discount_row
{
	display: flex;
}

.cart_item_cart_discount .cart_item_cart_discount_rightcol a.redeem_link
{
	background: linear-gradient(180deg, #40ACF5 0%, #235ECF 100%);
	border-radius: 3px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #ADE6FF !important;
}

.cart_item_cart_discount .cart_item_cart_discount_rightcol a.redeem_link > span {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}
.cart_item_cart_discount .cart_item_cart_discount_rightcol a.redeem_link > span {
    border-radius: 2px;
    display: block;
    background: transparent;
    text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.1 );
}

.cart_item_cart_discount .cart_item_cart_discount_rightcol a.redeem_link:hover
{
	background: linear-gradient(180deg, #54CAFF 0%, #468AFF 100%);
}

.cart_item_cart_discount_img
{
    width: 120px;
	margin-right: 13px;
	position: relative;
	text-align: center;
	color: white;	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.5);
}

/* Centered text */
.cart_item_cart_discount_img div {
	font-family: Motiva Sans;
	font-size: 13px;
	line-height: 105%;
	/* or 14px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.cart_item_cart_discount_img .applied
{
	position: absolute;
	top: -10px;
	left: -20px;
}

.cart_item_cart_discount_img img
{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.cart_item_cart_discount_column
{
	padding-left: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.cart_item_cart_discount_header
{
    color: #3E8ED6;
    font-size: 13px;
	line-height: normal;
    		font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

		}

.cart_item_cart_discount_special * .cart_item_cart_discount_header
{
    color: #5EB452 !important;
    font-size: 13px;
	line-height: normal;
    		font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

		}

.cart_item_cart_discount_amount
{
	color: #3E8ED6;
    font-size: 13px;
	line-height: normal;
    		font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.cart_item_cart_discount_special * .cart_item_cart_discount_amount
{
    color: #5EB452 !important;
    font-size: 13px;
	line-height: normal;
    		font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.cart_item_cart_discount_rightcol {
	text-align: right;
	white-space: nowrap;
	flex-grow: 0;
}


.cart_item_cart_discount_desc
{
    color: #3E8ED6;
}

.cart_item_cart_discount_special * .cart_item_cart_discount_desc
{
    color: #5EB452;
}

.cart_item_cart_discount_remove
{
}

.cart_item_cart_discount_remove .remove_link
{
    color: #56707f;
}

.checkout_review_cart_promotional_item .checkout_review_item_img
{
    padding-top: 0px;
    width: 133px;
    height: 77px;
}

.checkout_content.txn_totals {
	padding: 14px;
}

#cart_price_summary_taxes_different_shipping {
	margin-left: 3px;
	margin-right: 3px;
	vertical-align: middle;
}

.checkout_cache_text
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.cart_totals_area {
	margin-left: auto;
	margin-top: 3px;
}

.cart_total_row {
	position: relative;
	text-align: left;
	margin-top: 3px;
	color: #7092a5;
}

.cart_coupon_ctn {
	padding: 0px 0px 12px 150px;
}

.cart_coupon {
	border: 1px solid #39490f;
	background-color: #1f1f1f;
	margin-right: -4px;
	padding: 12px 11px;
	color: #8b8b8b;
	font-size: 13px;
}

.cart_coupon.coupon_available {
	border-color: #38480f;
}

.cart_coupon.in_use {
	position: relative;
	padding-left: 110px;
	height: 46px;
}

.coupon_icon, .coupon_icon img {
	width: 96px;
	height: 64px;
}

.cart_coupon .coupon_icon {
	position: absolute;
	left: 6px;
	top: 3px;
}

.cart_coupon .coupon_savings {
	position: absolute;
	right: 20px;
	top: 24px;

	line-height: 18px;
	font-size: 13px;
	color: #ffffff;
}

.cart_coupon .cart_coupon_body {
	padding-top: 4px;
}

.cart_coupon .coupon_status {
	color: #81b53a;
	font-size: 13px;
}

.cart_coupon .coupon_actions {
	font-size: 11px;
}

.coupon_actions a {
	color: #dadada;
	text-decoration: none;
}

.coupon_actions a:hover {
	text-decoration: underline;
}

.cart_coupon_selector_ctn {
	position: absolute;
	z-index: 1000;
	width: 624px;
}

.cart_coupon_selector_ctn .cart_row_dupe {
	width: 614px;
	margin: 0px auto;
}

.cart_coupon_selector {
	background-color: #444444;
	border: 1px solid #393939;

	font-size: 13px;
	color: #ababaa;
}

.cart_coupon_selector_top {
	height: 12px;
	background-image: url( /public/images/v5/shadow_topbottom.png );
	background-repeat: repeat-x;
	background-position: top;
	margin-top: -12px;
}

.cart_coupon_selector p {
	padding: 20px;
}

#coupon_selector_bg {
	position:absolute;
	z-index:900;
	background-color:#000000;
}

.cart_coupon_selector .coupon_choice {
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAm0AAAACCAIAAACFVHxPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNrUltERwCAIQ+XO0dh/JbpBpYQEy7d5QQ2n290XVhGxCNWCRSAj2pqwoNLvTnwmpJSS0n5DmdltwDKhJkQaljn+oklGtNrz2YjduFPX9pKczDKwpaOcdCAIdsSUdEeaqWvM29QwCx71vEVmJdjwu/wIJ/0dSR9EhiOIpV5fzYI3Ap/IjwADALQ6YNirvm/uAAAAAElFTkSuQmCC );
	background-position: top center;
	background-repeat: no-repeat;
	padding: 8px 0px 8px 44px;
	margin: 0px 2px;
	position: relative;
}

.coupon_choice .coupon_icon {
	position: absolute;
	left: 44px;
	top: 6px;
}

.coupon_choice .coupon_savings {
	position: absolute;
	right: 8px;
	top: 32px;
	font-size: 13px;
	color: #ffffff;
}

.cart_coupon_selector .coupon_choice.tall {
	height: 60px;
	padding-left: 154px;
}

.cart_coupon_selector .coupon_choice.active {
	background-color: #383838;
}

.cart_coupon_selector .coupon_choice_rule {
	padding: 0px;
	height: 2px;
}

.coupon_choice .coupon_choice_radio {
	position: absolute;
	left: 0px;
	top: 8px;
	width: 44px;
	text-align: center;
}

.coupon_choice_body {
	padding-top: 16px;
	padding-right: 96px;
}

.coupon_choice.tall .coupon_choice_radio {
	height: 60px;
	line-height: 60px;
}

.coupon_choice.disabled > * {
	opacity: 0.3;
}

.cart_totals_area .price {
	position: absolute;
	right: 0px;
	text-align: right;
	color: #c6d4df;
	font-size: 13px;
	padding-top: 2px;
}

.cart_total_rule {
	margin: 9px 0px;
	border-top: 1px solid #7092a5;
}

.cart_checkout_buttons
{
	text-align: right;
	padding: 15px 0px;
}

.cart_checkout_buttons .btn_medium  {
	margin-bottom: 8px;
}

.cart_checkout_buttons .btnv6_blue_hoverfade:not(:last-child) {
	margin-right: 8px;
}

.cart_total_row
{
	font-size: 13px;	
	text-align: left;

}

.cart_total_row.savings, .cart_total_row.savings .price
{
	color: #8BC53F;
}

.cart_total_row#cart_price_total_text, .cart_total_row#cart_price_total_text, .cart_total_row#cart_price_shipping_text, .price
{
	font-size: 13px;
	color: #c7d5e0;
}

.cart_total_row#cart_estimated_total_text
{
	margin-top: 10px;
	font-size: 13px;
	color: #c7d5e0;
	font-weight: bold;
}

.estimated_total_box {

	padding: 16px;
}

.cart_purchase_action_section * .estimated_total_box
{
	padding-top: 0px;
	padding-bottom: 0px;
}

.cart_price_total_sub_text
{
	font-size: 11px;
	color: #8F98A0;
}

.vr_required  {
	color: #56707f;
}

/* checkout - gift */


.checkout_content.cart_send_choice {
	background-color: rgba(0,0,0,0.2);
	padding: 16px;
	font-size: 13px;
	margin-top: 2px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.checkout_content.cart_send_choice p {
	margin-top: 5px;
}

.checkout_content.cart_send_choice p em {
	font-style: normal;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-style: italic;
	color: #8F98A0;
}

.cart_send_choice:not(.selected):not(.force_selected_display) .cart_send_selected_only {
	display: none;
}

.cart_send_schedule_options {
	margin-top: 12px;
}

.cart_send_schedule_datepicker {
	display: none;
	margin-top: 5px;
}

.cart_send_schedule_options.schedule_selected .cart_send_schedule_datepicker {
	display: block;
}

.cart_send_schedule_options.schedule_selected .cart_send_schedule_button {
	display: none;
}

.checkout_content_box  .cart_send_schedule_datepicker select,
.checkout_content_box  .cart_send_schedule_datepicker input {
	width: auto;
	padding: 2px;
	line-height: 18px;
	margin: 4px;
}
.checkout_content_box  .cart_send_schedule_datepicker input[type="text"] {
	padding: 2px 6px;
}

.cart_send_schedule_datepicker .datepicker_group {
	display: inline-block;
	white-space: nowrap;
}

.checkout_content .cart_bodycopy {
	padding: 4px 16px;	
	font-size: 13px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}
.checkout_content .cart_bodycopy.highlight {
	color: #c7d5e0;
}
.checkout_content .cart_bodycopy.highlight a {
	color: #c7d5e0;
}
.checkout_content .cart_bodycopy.highlight a:hover {
	color: #c7d5e0;
}

.cart_gift_title
{
	padding-left: 2.5%;
	font-size: 18px;
	text-transform: uppercase;
}

label.send_choice_txt {
	font-size: 18px;
	color: #ffffff;
}

.send_choice_inner {
	padding-left: 17px;
}

.cart_send_choice_rule {
	/* border-top: 1px solid #38444e; */
}

.send_choice_inner.email_pref_ctn label {
	line-height: 17px;

	display: inline-block;
	padding-left: 0px;
	vertical-align: top;
	padding-bottom: 5px;
	width: 548px;
}

#send_via_friends_box {
	margin-top: 20px;
}

#friends_chooser {
	max-width: 560px;
	min-height: 189px;
	max-height: 50vh;
	border: 1px solid #4d4b49;
	overflow: auto;
	overflow-x: hidden;
	position: relative;
}

#friends_chooser .friend_block {
	min-height: 43px;
	position: relative;
	padding-left: 70px;
	padding-top: 3px;
	line-height: 18px;
	border: 1px solid #1a1a1a;
}

#friends_chooser .friend_block.even, #friends_chooser .friend_block.even.disabled:hover {
	background-color: rgba( 0, 0, 0, 0.5);
	border-color: rgba( 0, 0, 0, 0.5);
}

#friends_chooser .friend_block.odd, #friends_chooser .friend_block.odd.disabled:hover {
	background-color: rgba( 0, 0, 0, 0.2);
	border-color: rgba( 0, 0, 0, 0.2);
}

#friends_chooser .friend_block:hover {
	border-color: #8bb9e0;
}

#friends_chooser .friend_block.active {
	background-color: #222D3D;
}


#friends_chooser .friend_block .friend_block_radio {
	position: absolute;
	left: 5px;
	top: 16px;
}


#friends_chooser .friend_block .friend_block_avatar {
	position: absolute;
	left: 22px;
	top: 3px;
}

#friends_chooser .friend_block .friend_name {
	font-size: 13px;
	color: #ffffff;
	float: left;
	padding-right: 12px;
}

#friends_chooser .friend_block .friend_ownership_info {
	margin-right: 7px;
	color: #626366;
	font-size: 11px;
	text-align: right;
}

#friends_chooser .friend_block .friend_ownership_info.already_owns {
	color: #FF7B00;
}

#friends_chooser .friend_block .friend_ownership_info.wants {
	color: #8BB9E0;
}

#friends_chooser .friend_block .friend_ownership_info .edit_cart_link a {
	text-decoration: none;
	color: #B0AEAC;
}

#friends_chooser .friend_block .friend_ownership_info .edit_cart_link a:hover {
	text-decoration: none;
	color: #ffffff;
}

#friends_chooser .friend_block.disabled .friend_block_avatar,
#friends_chooser .friend_block.disabled .friend_name,
#friends_chooser .friend_block.disabled .friend_block_radio {
	opacity: 0.5;
}

.gift_tradable_time_notice {
	font-size: 11px;
	margin-top: 16px;
}

/* checkout - gift message */

#gift_message_text {
	height: 158px;
	font-size: 18px;
	resize: none;
	font-family: Helvetica, Arial, sans-serif;
}

.gift_note_form_area {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
}

/* checkout - payment method */


#expiration_month_dselect_container
{
	display: inline-block;
	width: 48px;
	margin-right: 12px;
	vertical-align: middle;
}

#expiration_year_dselect_container
{
	display: inline-block;
	width: 68px;
	margin-right: 12px;
	vertical-align: middle;
}

#security_code_section
{
	display: inline-block;
	vertical-align: middle;
}

#security_code
{
	width: 36px;
}

#security_code_cached
{
	width: 36px;
}

#what_is_this
{
	padding-left: 5px;
	text-align: left;
	padding-top:5px;
}

#what_is_this a
{
	color: #cdcac1;
	text-decoration: underline;
	clear: none;
	font-weight: normal;
}

#verify_country
{
	float: left;
	clear: none;
	margin-top: 0px;
}
.checkout_tab.checkout_content {
	margin-top: 30px;
}

.checkout_tab input.two_line_check {
	margin-top:3px;
	padding:3px;
	vertical-align:middle;
}

.checkout_tab .form_row_sizable, .checkout_tab .form_row
{
	margin-top:5px;
	margin-bottom: 12px;
	clear: both;
}

.checkout_tab .form_row#payment_row_save_my_address {
	margin-top: 20px;
}

.checkout_tab .form_row#bank_iban_row
{
	margin-bottom: 60px;
}

.checkout_tab .form_row_sizable, .checkout_tab #youll_get_to_review {
	padding: 8px;
	padding-left: 0px;	
	font-size: 13px;

}

.checkout_tab #payment_row_step2 #payment_row_step2_header
{
	color: #ffffff;
	font-size: 15px;
}

.payment_row_no_additional
{
    color: #ffffff;
    font-size: 13px;
}

#payment_method_notes
{
	position: relative;
	margin-top: 20px;
}

.payment_method_notes_bubble
{
  position:relative;
  padding:5px 15px;
  margin-bottom: 15px;
  color:#ffffff;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#425e70), to(#425e70));
  background:-moz-linear-gradient(#425e70, #425e70);
  background:-o-linear-gradient(#425e70, #425e70);
  background:linear-gradient(#425e70, #425e70);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

.payment_method_notes_bubble:after 
{
  content:"";
  position:absolute;
  border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#425e70 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  top:-15px; /* value = - border-top-width - border-bottom-width */
  left:30px; /* controls horizontal position */
  bottom:auto;
  right:auto;
}

.payment_method_notes_bubble li
{
	display: list-item;
	margin-left: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 13px;
}

.checkout_tab .form_row
{
	font-size: 11px;
}

.checkout_tab .form_row p
{
	font-size: 13px;
}

.checkout_tab .form_right
{
	clear: right;
	float: right;
	text-align: left;
	width: 292px;
}

.checkout_tab .form_left
{
	clear: left;
	float: left;
	text-align: left;
}

.checkout_tab .form_right label, .checkout_tab .form_left label, .checkout_tab .form_row_sizable label, .checkout_tab .form_row label
{
	display: block;
	text-align: left;
	margin-bottom: 2px;
	font-size: 11px;
}

#payment_info_method_label
{
	font-size: 13px;
}

#first_name_label
{
	float: left;
	width: 116px;
}

#last_name_label
{
	float: left;
	width: 84px;
}

#first_name
{
	width: 100px;
}

#last_name
{
	width: 100px;
}

.checkout_checkbox, #accept_ssa
{
	display: block;
	float:left;
	clear:left;
	height: 14px;
	padding: 0px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 14px;
}

#purchase_bottom {
	font-size: 14px;
}


#purchase_confirm_ssa .label {
	font-size: 14px;
}

#save_my_address
{
	float: left;
	clear: none;
	margin-top: 2px;
}

#save_my_address_input label
{
	clear: none;
	display: block;
	font-size: 13px;
	margin-left: 6px;
	line-height: 16px;
	overflow: hidden;
}




#verify_country_notes
{
	overflow: hidden;
	font-size: 13px;
}

#cancel_pending_check
{
	float: left;
	padding-top: 2px;
}

#cancel_pending_notes
{
	float: left;
	padding-left: 4px;
}


/* checkout - stored credit card */

#stored_card_processing
{
	height: 460px;
}

#stored_card_processing_label
{
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

/* checkout - receipt */


.receipt_confirmation_row {
	position: relative;
	margin-bottom: 12px;
	line-height: 14px;
}

.receipt_confirmation_label {
	position: absolute;
	left: 0px;
	color: #8f98a0;
}

.receipt_confirmation_data {
	padding-left: 135px;
	color: #c6d4df;
}

#receipt_area p, #ackgift_area p {
	margin: 9px 0px;
	font-size: 13px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.btn_checkout_print {
	display: block;
	background-image: url( /public/images/v5/btn_checkout_print.png );
	width: 168px;
	height: 40px;
}

a.btn_checkout_print .text {
	color: #3c3d3e;
	font-size: 13px;

	margin-left: 45px;
	margin-right: 3px;
	padding-top: 9px;

	text-align: center;
	text-shadow: #bfbebe 1px 1px 0px;

	font-weight: bold;
	text-decoration: none;
}

a.btn_checkout_print, a.btn_checkout_print:hover {
	text-decoration: none ! important;
}

#gotsteam_buttons a.btn_white {
	float: left;
	margin-right: 16px;
}

/* DSelect */
.checkout_main .dselect_container {
	width: 222px;
	padding: 0;
	display: inline-block;
}

.checkout_main .dselect_container a.trigger {
	color: #ffffff;
	background: rgba( 0, 0, 0, 0.4);
}

.dselect_container a.trigger:hover
{
	background-color: #67c1f5; /* Old browsers */
background: -webkit-linear-gradient( 150deg, #417a9b 5%,#67c1f5 95%);
	background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
}

.checkout_main .dselect_container a,
.checkout_main .dselect_container a:hover,
.checkout_main .dselect_container a:active,
.checkout_main .dselect_container a:visited
{
	text-decoration: none;
	font-weight: normal;
}

.checkout_main .trigger {
	display:block;
	padding-left:2px;
	padding-right:2px;
	overflow: hidden;
}

.checkout_main .activetrigger{
}

#payment_method_dselect_container
{
	width: 250px;
}

#bank_name_dselect_container
{
	width: 250px;
}


#gift_sentiment_droplist
{
	height: 100px;
	overflow-y: scroll;
}

#billing_state_select_droplist, #shipping_state_select_droplist, #shipping_state_droplist
{
	max-height: 225px;
	overflow-y: auto;
}

#billing_country_droplist, #expiration_year_droplist
{
	max-height: 340px;
	overflow-y: auto;
}

/*
 * EMAIL VALIDATION
 */

.emailvalidation_content {
	min-height: 520px;
	position: relative;
}

.emailvalidation_content h2 {
	color: #8BC53F;
}

.emailvalidation_content p, .emailvalidation_content h2  {
	margin-bottom: 9px;
}

.emailvalidation_status_area {
	height: 71px;
	position: relative;
	margin: 8px 0px;
}

.emailvalidation_status_logo {
	position: absolute;
	left: 0px;
	top: 0px;
}

.emailvalidation_status_desc {
	padding-left: 87px;
	padding-top: 21px;
	color: #8BC53F;
}

.emailvalidation_buttons {
	position: absolute;
	bottom: 27px;
	width: 586px;

	line-height: 28px;
}

.email_formrow {
	position: relative;
	min-height: 28px;
}
.email_formrow .input {
	position: absolute;
	left: 0px;
}
.email_formrow .input input {
	width: 221px;
	height: 22px;
}
.email_formrow .desc {
	padding-left: 235px;
	font-size: 11px;
	line-height: 11px;
}


/*
 * EXTERNAL PAYMENT LANDING PAGE (paypal, etc)
 */

#external_landing_header .content {
	position: relative;
	max-width: 600px;
	height: 104px;
	margin: 0 auto 64px auto;
}

#external_landing_header_logo
{
	margin: 0px auto;
	width: 176px;
	padding-top: 30px;
}

.external_landing_content
{
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	color: #B0AEAC;
}

.external_landing_content a
{
	color: #B0AEAC;
	text-decoration: underline;
}

.external_landing_content a:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}

#external_landing_notice
{
	font-size: 16px;
	padding: 20px 5%;
}

#external_landing_notice b
{
	color: #ff7b00;
}


/* Transaction approval */
.approvetxn_header
{
	margin-bottom: 5px;
}

.approvetxn_lineitem_container
{
	margin-top: 10px;
}

.approvetxn_lineitem_container_header
{
	border-bottom: 1px solid #000000;
	background-color: #2a3f5a;
	line-height: 20px;
}

.approvetxn_lineitem_row
{
	background-color: rgba( 84, 133, 183, 0.2);
	border-bottom: 1px solid #000000;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 13px;
}
.approvetxn_lineitem_row.bundle
{

}
.approvetxn_lineitem_row.isinbundle
{
	color: #8F98A0;
}

.approvetxn_lineitem_qty
{
	float: left;
	width: 50px;
	padding-left: 14px;
}

.approvetxn_lineitem_price
{
	float: right;
	width: 100px;
	text-align: right;
	padding-right: 14px;
}

.approvetxn_lineitem_description
{
	color: #FFFFFF;
	font-size: 13px;
}

.approvetxn_lineitem_row.isinbundle .approvetxn_lineitem_description
{
	color: #8F98A0;
}

.approvetxn_walletbalance
{
	color: #B0AEAC;
}

/* send gift pipeline */
.sendto_accountname {
	color: #ffffff;
}

.sendgift_review_item .checkout_review_item_desc {
	margin-right: 10px;
}

.checkout_region_warning
{
	color: #bd4847;
}

.checkout_no_refund_warning,.checkout_no_refund_warning a
{
	color: #ffcc6a;
}


.block {
	margin: 16px 0;
	background: rgba(0,0,0,0.2);

}


.block_content_inner
{
	padding: 8px;
}

/* Recommended section */


.recommended_grid {

}
.cart_recommendations_ctn p {
    color: #56707f;
    margin-top: -13px;
}

.checkout div.rightcol {
	margin-top: 40px;
}
.rightcol h2 {
	margin: 25px 0 5px 0;
}

.recommended_grid .special {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px 17px 16px 16px;
	margin-bottom: 2px;
	min-height: 63px;
	float: left;
	position: relative;
	width: 120px;
	overflow: hidden;
}

.recommended_grid .special:nth-child(2n+1)
{
	margin-right: 2px;
}

.recommended_grid .special .special_img_ctn {
	display: block;
	position: relative;
	width: 120px;
	height: 45px;
}

.special_discount {
	overflow: hidden;
	white-space: nowrap;
}

.recommended_grid .special .special_img_ctn .ds_flag {
	top: 18px;
}

.recommended_grid .special .special_img_ctn.ds_flagged:not(.ds_wishlist) img {
	opacity: 0.3;
}

.recommended_spacer {
	height: 32px;
}

.block {
	margin-bottom: 16px;
}

.block .block_header {
	background: rgba( 255, 255, 255, 0.1);
	padding: 4px 4px 4px 6px;
	color: #c7d5e0;
	font-size: 13px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-size: 13px;
}

.cafefundedinstruction_header .instruction_title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cafefundedinstruction .block {
  font-size: 16px;
	margin-top: 5px;	
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cafefundedinstruction .block .cafefundedinstructionline {
	margin-top: 20px;
	margin-bottom: 20px;
}

.cafefundedinstruction .block .cafefundedinstructionline .cafefundedinstruction_amount {
	font-size: 22px;
}

#wallet_code {
	width: 450px;
	margin-right: 10px;
}

.purchase_summary_area,
.add_free_content_success_area,
.checkout_steam_direct_area {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
}
#btn_remote_install {
	float: left;
	background: -webkit-linear-gradient( top, rgba(121,153,5,0.8) 5%, rgba(83,105,4,0.8) 95%);
	background: linear-gradient( to bottom, rgba(121,153,5,0.8) 5%, rgba(83,105,4,0.8) 95%);
	width: 271px;
	padding: 12px 12px 15px 12px;
	border-radius: 2px;
	text-decoration: none;
}
#btn_remote_install:hover {
	background: -webkit-linear-gradient( top, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
	background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
	color: #ffffff;
}
.checkout_gotsteam_area,
.receipt_body,
.checkout_receipt_gift_detail {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
}
.checkout_gotsteam_area h1 {
	font-weight: normal;
	font-size: 36px;
	color: #ffffff;
}
.checkout_gotsteam_area p {
	color: #c6d4df;
	font-size: 15px;
	font-weight: normal;
}
.checkout_gotsteam_area #gotsteam_buttons {
	padding: 10px 0px 0px 0px;
}
.checkout_gotsteam_area a.btn_blue h3 {
	font-size: 23px;
	font-weight: normal;
}
.checkout_gotsteam_area a.btn_blue h5 {
	font-size: 13px;
	font-weight: normal;
	text-transform: none;
}
.checkout_gotsteam_area a.btn_blue h3, .checkout_gotsteam_area a.btn_blue h5 {
	color: #66C0F4;

}
.checkout_gotsteam_area a.btn_blue:hover h3, .checkout_gotsteam_area a.btn_blue:hover h5 {
	color: #ffffff;
}
.checkout_gotsteam_area a.btn_blue {
	float: left;
	background: -webkit-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);
	background: linear-gradient( to bottom, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);
	width: 260px;
	padding: 12px 12px 15px 12px;
	border-radius: 2px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			text-decoration: none;
}
.checkout_gotsteam_area a.btn_blue.leftbtn {
	margin-right: 16px;
}
.checkout_gotsteam_area a.btn_blue:hover {
	background: -webkit-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
}

#lny_tokens
{
	margin-top: 10px;	
	position: relative;
}

.lny_tokens_box
{
	border: 1px solid #bf7611;
	background: #253F53;
	padding: 15px 15px 15px 15px;
}

#lny_tokens_text
{
	text-align: left;
	line-height: 16px;
	color: #f8bc5e;
	font-size: 13px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px 0 0 0;
	overflow: hidden;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-weight: 500;
}

#lny_tokens_points
{
	text-align: right;
	line-height: 16px;
	color: #f8bc5e;
	font-size: 13px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px 0 0 0;
	overflow: hidden;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-weight: 500;
}

.lny_tokens_button
{
	text-align: left;
	margin-left: 10px;
	margin-top: 6px;
}


.lny_token_logo
{
	position: absolute;
	top: -15px;;
	right: -10px;
}

body.checkout .block .block_header {
	padding: 0 12px;
	line-height: 32px;
}

body.checkout .block .block_content {
	padding: 12px;
	border: none;
}


@media screen and (max-width: 910px)
{
	html.responsive .continue_shopping_ctn {
		text-align: center;
		margin-bottom: 24px;
	}

	html.responsive .rightcol.cart_rightcol {
		width: 308px;
		margin: 0 auto;
	}

	html.responsive body.checkout .leftcol,
	html.responsive body.checkout .rightcol {
		max-width: 616px;
		margin: 0 auto;
	}

	html.responsive .checkout_tab .form_right {
		max-width: 45%;
	}

	html.responsive .checkout_tab .form_right label,
	html.responsive .checkout_tab .form_left label,
	html.responsive .checkout_tab .form_row_sizable label,
	html.responsive .checkout_tab .form_row label {
		font-size: 13px;
		line-height: 24px;
	}
}

@media screen and (max-width: 600px)
{
	html.responsive #checkout_steam_logo {
		float: none;
		padding-top: 8px;
		margin: 0 auto;
	}

	html.responsive #checkout_pipeline,
	html.responsive #receipt_pipeline {
		padding-top: 8px;
	}

	/* compress the pipeline a little too */
	html.responsive .cart_tab_on,
	html.responsive .cart_tab_off,
	html.responsive .cart_tab_inactive {
		padding: 7px;
	}

	html.responsive .cart_tab_spacer {
		margin: 10px 4px;
	}

	/* this is the down arrow - looks weird if the pipeline wraps, so just rely on the other highlighting */
	html.responsive .cart_tab_left_on {
		display: none;
	}
}

@media screen and (max-width: 540px)
{
	html.responsive .checkout_tab .form_left,
	html.responsive .checkout_tab .form_right {
		float: none;
		width: auto;
		max-width: none;
	}

	html.responsive .checkout_tab .form_right {
		margin-top: 10px;
	}
}

@media screen and (max-width: 910px)
{
	html.responsive .dropcontainer ul {
		font-size: 16px;
		line-height: 28px;
	}

}
	html.responsive.touch .dropcontainer ul {
		font-size: 16px;
		line-height: 28px;
	}

@media screen and (max-width: 480px)
{
	html.responsive .cart_item_desc,
	html.responsive .checkout_review_item_desc {
		padding-top: 16px;
	}

	html.responsive .cart_item_desc .cart_item_platform,
	html.responsive .checkout_review_item_desc .checkout_review_item_platform {
		float: none;
	}

	html.responsive .cart_item_img,
	html.responsive .checkout_review_item_img {
		max-width: 30%;
	}
}