.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

.products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.product-photo img {
    position: absolute;
    /*top: 0;*/
    /*bottom: 0;*/
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
}

.product:hover .product-photo img {
    transform: scale(1.05);
}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}

.product p {
    position: relative;
    margin: 0;
    padding: 0 0 0 12%;
    font-size: 1em;
    line-height: 1.4em;
    height: 5.6em;
    overflow: hidden;
}

.product p:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.2em;
    height: 1.6em;
    background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}

.product {
    display: block;
    /*border: 1px solid #b5e9a7;*/
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin: 10px;
    text-decoration: none;
    color: #474747;
    z-index: 0;
}

ul.pagination {
    display: inline-block;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li.active a {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li:not(.active) a:hover {background-color: #ddd;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}