* {
    margin: 0;
}

html {
    --arrowContainerIndent: 5%;
    --arrowIndent: 20%;
}

.product {
    display: block;
    position: relative;
    background: #fff;
    text-decoration: none;
    color: #474747;
    z-index: 0;
}

.description {
    margin: 0;
    padding: 0 0 5% 5%;
}

.main-description {
    position: relative;
    margin: 0;
    padding: 0 0 5% 10%;
}

.description p {
    position: relative;
    padding-top: 5%;
}

.offer {
    display: inline-block;
    margin: 1em;
}

.price {
    color: #D77206;
    margin-bottom: 0.5em;
}

.buy {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    font-size: 1em;
}
.buy:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.buy:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

.space {
    padding-bottom: 5%;
    height: 5%;
}

.product-photo {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
}

.product-photo img {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
}

.arrow-container {
    position: absolute;
    top: 35%;
    width: 10%;
    height: 15%;
    z-index: 3;
    cursor: pointer;
}

.arrow-container:hover {
    filter: brightness(0) invert(1);
}

.arrow {
    top: 35%;
    width: 20%;
    height: 30%;
}

.left-arrow-container {
    left: var(--arrowContainerIndent);
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}

.left-arrow {
    padding-right: var(--arrowIndent);
}

.right-arrow-container {
    right: var(--arrowContainerIndent);
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%, rgba( 0, 0, 0, 0.3) 95%);
}

.right-arrow {
    padding-left: var(--arrowIndent);
}